/.cmake/
/cmake-build-debug/.cmake/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Testing/
/.idea/
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/gameoflife.cbp
